/* div where everything is displayed, flex wrap in order to let the beers continue below when it does not fit in the screen */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

/* div where displays the information of each beer, is a card 
    adding bckg color and defining the width of the cards
*/
.beer-card {
    display: flex;
    width: 45%;
    background-color: lightgray;
    padding: 20px;
    border-radius: 20px;
}

/* defining the size of the beer img container and adding padding tot he right to make space between img and text */
.beer-image {
    width: 20%;
    margin-right: 20px;
}

/* beer img inside the beer container width */
.beer-image img {
    width: 100%;
}

/* container where all the text information is going to be displayed */
.beer-info {
    width: 70%;
}

.beer-info h2 {
    margin-top: 0;
}

.beer-info p {
    margin: 0;
}

.warning{
    background-color: rgb(162, 97, 97);
}

.highlight{
    background-color: yellow;
}

@media screen and (max-width: 767px) {
    .beer-card {
        width: 100%;
        /* Full width on smaller screens */
    }
}